{% extends 'base.html' %}
{% block titulo %}Registrar{% endblock %}
{% block conteudo %}
    <h2>Registrar</h2>
    <form action="" method="post">
        <label for="nomeForm">Nome:</label>
        <input type="text" name="nomeForm" id="nomeForm" required><br>
        <label for="senhaForm">Senha:</label>
        <input type="password" name="senhaForm" id="senhaForm" required><br>
        <label for="tipoForm">Tipo:</label>
        <input type="text" name="tipoForm" id="tipoForm" required><br>
        <input type="submit" value="Cadastrar">
    </form>
{% endblock %}
